<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baselibrary">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- ################################# service start ################################# -->

        <service android:name=".service.DownloadService" />

        <!-- ################################# service end ################################# -->

        <!-- ################################# receiver start ################################# -->

        <receiver android:name=".appupdate.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- ################################# receiver end ################################# -->

    </application>

</manifest>
