<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testlibrary">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".view.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.TestActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.OkGoRequestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.OkGoRequestActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SyncActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.SyncActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.FileDownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.FileDownloadActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.FormUploadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.FormUploadActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.RequestPermissionSingleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.RequestPermissionSingleActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.RequestPermissionMultipleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.RequestPermissionMultipleActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>