<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testlibrary">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".view.TestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.TestActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.OkGoRequestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.OkGoRequestActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SyncActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.SyncActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.FileDownloadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.FileDownloadActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.FormUploadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.FormUploadActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.RequestPermissionSingleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.RequestPermissionSingleActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.RequestPermissionMultipleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.RequestPermissionMultipleActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.CusttomTitleBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.CusttomTitleBarActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.CusttomTagsLayoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.CusttomTagsLayoutActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.CusttomRatingStarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.CusttomRatingStarActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.EmptyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.EmptyActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.DataBindingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.DataBindingActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.CustomDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.CustomDialogActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.CustomBannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.CustomBannerActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.LogDisplayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.LogDisplayActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.CacheActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.CacheActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.CustomPopupWindowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.CustomPopupWindowActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.SuperTextViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.SuperTextViewActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.LcLabelViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.LcLableViewActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.StateModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.StateModeActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ChangeAppIconActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.ChangeAppIconActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ViewAsycChangeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <data
                    android:host="${APP_HOST}"
                    android:path="/.view.ViewAsycChangeActivity"
                    android:port="8888"
                    android:scheme="${APP_SCHEME}" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>
</manifest>